{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block style %}
<style>
    /* Internal CSS styles */
    div {
        text-align: center;
    }

    h2 {
        margin-bottom: 20px;
    }

    form {
        text-align: center;
        margin-top: 50px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        width: 120px; /* Adjust width as needed */
        text-align: left;
    }

    input[type="text"],
    input[type="number"] {
        width: 200px; /* Adjust width as needed */
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

</style>
{% endblock %}

{% block index %}
{% endblock %}

{% block content %}
<h1>Water Potability Prediction Form</h1>
    <form method="post">
        {% csrf_token %}

        <input type="submit" value="Submit">
    </form>
{% endblock %}


